In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
trainB = pd.read_csv("http://www.rob-mcculloch.org/data/smsTrainB.csv")
testB = pd.read_csv("http://www.rob-mcculloch.org/data/smsTestB.csv")
trainyB = pd.read_csv("http://www.rob-mcculloch.org/data/smsTrainyB.csv")['smsTrainyB']
testyB = pd.read_csv("http://www.rob-mcculloch.org/data/smsTestyB.csv")['smsTestyB']
print(trainB.shape)
print(testB.shape)
print(trainyB.shape)
print(testyB.shape)

(4169, 1139)
(1390, 1139)
(4169,)
(1390,)

In [3]:
trainB.iloc[0:5,0:4]  #first few rows and coluns of train x

   £wk  €˜m  €˜s  abiola
0    0    0    0       0
1    0    0    0       0
2    0    0    0       0
3    0    0    0       0
4    0    0    0       0

In [4]:
trainyB.iloc[0:6]  # first few train y

0    0
1    0
2    0
3    1
4    1
5    0
Name: smsTrainyB, dtype: int64

In [5]:
trainyB.value_counts()/trainyB.shape[0] #train ham/spam frequencies

0    0.864716
1    0.135284
Name: smsTrainyB, dtype: float64

In [6]:
pd.crosstab(trainyB,trainB['age'])

age            0   1
smsTrainyB
0           3600   5
1            552  12

In [7]:
print(5/(5+3600))
print(12/(12+552))

0.0013869625520110957
0.02127659574468085

In [9]:
model = MultinomialNB()  #create model object
model.fit(trainB,trainyB) # fit on train
yhat = model.predict(testB) # predict on test
print(yhat.shape)
print(type(yhat))
print(yhat.dtype)
yhat[:5]

(1390,)
<class 'numpy.ndarray'>
int64

array([0, 0, 0, 0, 1], dtype=int64)

In [10]:
confusion_matrix(testyB,yhat)

array([[1190,   17],
       [  25,  158]], dtype=int64)

In [11]:
accuracy_score(testyB,yhat)

0.9697841726618706

In [12]:
(158+1190)/1390

0.9697841726618706

In [13]:
pd.crosstab(testyB,yhat)

col_0         0    1
smsTestyB
0          1190   17
1            25  158

In [14]:
model

MultinomialNB()