In [1]:
#initial tools
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

#plotting tools
%matplotlib inline
#show plots directly
import matplotlib.pyplot as plt # plotting in details
import seaborn as sns # to ease complex plots

# modeling and scoring tools
from sklearn.ensemble import RandomForestClassifier # the model we will use
from sklearn.model_selection import train_test_split # splitting the data int train and test tool
from sklearn.metrics import confusion_matrix,f1_score # scoring tools and technics

import warnings 
warnings.filterwarnings("ignore") # ignore file warnings

In [14]:
df = pd.read_csv("G:\My Drive\Courses\Machine learning-statistical learning\Project\Heart attack data\heart.csv")
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [15]:
#creat new feature and read an existing feature

#creating a feature
df["c/o"]=df["cp"]/df["thalachh"]

#reading an existing feature
df["sat"] = pd.read_csv("G:\My Drive\Courses\Machine learning-statistical learning\Project\Heart attack data\o2Saturation.csv")

In [16]:
df.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,output,c/o,sat
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1,0.020000,98.6
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1,0.010695,98.6
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1,0.005814,98.6
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1,0.005618,98.1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1,0.000000,97.5

In [17]:
X = df.drop(["output"],axis=1) #independant columns
y = df.output #dependant column

In [18]:
X.head()

,age,sex,cp,trtbps,chol,fbs,restecg,thalachh,exng,oldpeak,slp,caa,thall,c/o,sat
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,0.020000,98.6
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,0.010695,98.6
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,0.005814,98.6
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,0.005618,98.1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,0.000000,97.5

In [30]:
print(df.shape)

(303, 16)